table {
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: #6e4734;
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
}

td{
    background-color: #af7e66;
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
}